.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 250px;
}
.header__logo {
  font-family: Lora, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  color: #2e2e2e;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  font-family: Oxygen, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.6;
  color: #2e2e2e;
}
.header__nav-item:first-child {
  margin-left: 20px;
}
.nav {
  margin-right: 21px;
}
.nav:last-child {
  margin-right: 0;
}

.road__inner {
  margin-top: 89px;
}
.road__titles {
  margin-bottom: 38px;
}
.road__title {
  font-family: Lora, sans_serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 51px;
  letter-spacing: 2px;
  text-align: center;
  color: #2e2e2e;
  padding-bottom: 20px;
}
.road__subtitle {
  font-family: Oxygen, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #2e2e2ea1;
  padding-bottom: 75px;
}
.road__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.road__text {
  font-family: Oxygen, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  background-color: #f7f7f7;
}
.road__text-inner {
  padding: 140px 240px 135px;
}
.road__container-text {
  max-width: 960px;
}
.footer {
  background-image: url(../images/footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.6;
  z-index: 0;
}
.footer__logo {
  font-family: Lora, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  margin-left: 250px;
}
.footer__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0 32px 0;
  position: relative;
  z-index: 1;
}
.footer__nav-list {
  display: flex;
  margin-right: 250px;
}
.footer__nav-item {
  color: #ffffff;
  font-family: Oxygen, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 26px;
  letter-spacing: 1;
  color: #ffffff99;
}
.footer-logo {
  z-index: 0;
  margin-left: 250px;
}
